a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.mainPage {
  margin: 0;
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

.card{
  border-radius: 8px;
  border: 2px solid black;
  margin: 15px; 
  margin-bottom: 10px; 
  height: 100vh; 
  width: auto;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.image {
  border-radius: 4px; 
  margin: 15px; 
}

.custom-button {
  background-color: #ff6347 !important;
  color: #ffffff !important;
  border: 2px solid #ffa07a !important;
}

.custom-button:hover {
  background-color: #ff4500 !important;
  border-color: black !important;
}


